version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '13:00'
    open-pull-requests-limit: 10
    reviewers:
      - vincvdwal
    allow:
      - dependency-type: direct
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']
    commit-message:
      prefix: 'fix: '
    groups:
      svelte:
        patterns:
          - 'vite'
          - 'svelte'

          - 'vite-*'
          - 'rollup*'
          - 'svelte-*'
          - '@sveltejs/*'

          - 'mdsvex'
          - 'mode-watcher'
          - 'sveltekit-superforms'
      eslint:
        patterns:
          - 'eslint'
          - 'prettier'
          - 'typescript'

          - 'eslint-*'
          - 'prettier-*'
          - '@typescript-eslint/*'

          - '@eslint/compat'
      shiki:
        patterns:
          - 'shiki'
          - 'prismjs'
          - 'prism-themes'
          - '@shikijs*'
      shadcn:
        patterns:
          - 'zod'
          - 'simple-icons'
          - 'lucide-svelte'
      tailwind:
        patterns:
          - 'tailwindcss'

          - 'tailwind-*'
          - '@tailwindcss*'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: daily
      time: '13:00'
    commit-message:
      prefix: 'fix: '
