/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
//@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
//@import 'bootstrap/scss/breadcrumb';
//@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
//@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
//@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
//@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
//@import 'bootstrap/scss/offcanvas';
//@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

@import 'syntax-highlight.scss';

// // tailwind
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

.feature-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    

    h2,
    h3 {
        margin-bottom: 1rem;
    }
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

@media (max-width: 768px) {
  .feature-icon {
    min-width: 3rem;
    height: 3rem;

    svg {
      transform: scale(0.8);
    }
  }
}

.debug-hidden {
    display: none;
}

/*$color-mode-type: data;

@include color-mode(dark) {
  #substack {
    filter: invert(95%) hue-rotate(180deg);
  }
}*/

$color-mode-type: data;

@include color-mode(dark) {
		--sdt-bg-main: #3a3f44;
		--sdt-shadow-color: #161616;
		--sdt-color: #eee;
		--sdt-header-color: #eee;
		--sdt-primary: #e1ac4a;
		--sdt-disabled-date: #bb5757;
		--sdt-disabled-date-bg: var(--sdt-bg-main);
		--sdt-btn-bg-hover: #777;
		--sdt-btn-header-bg-hover: #777;
		--sdt-color-selected: #fff;
		--sdt-today-indicator: #ccc;
		--sdt-clock-bg: #999;
		/* custom buttons */
		/*--sdt-today-bg: #e4a124;
		--sdt-today-color: #fff;
		--sdt-clear-color: #666;
		--sdt-clear-bg: #ddd;
		--sdt-clear-hover-color: #fff;
		--sdt-clear-hover-bg: #dc3545;*/
}

.std-component-wrap {
  position: inherit !important;
  display: inherit !important;
}

@media (max-width: 768px) {
  .container-sm, .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .container-md, .container-sm, .container {
    max-width: 868px;
  }
}