@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	--container-sm: 1000px;
	--container-md: 1000px;
	--container-lg: 996px;
	--container-xl: 1100px;
	--container-2xl: 1400px;

	--font-size-xxs: 11px;

	--drop-shadow-logo: 3px 3px 2px oklch(0% 0 0 / 0.7);

	--text-underline-offset-3: 3px;
}

:root {
	--background: oklch(100% 0 0);
	--foreground: oklch(13.7% 0.036 258.5);

	--muted: oklch(100%, 0%, 89.876%);
	--muted-foreground: oklch(55.5% 0.041 257.4);

	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(13.7% 0.036 258.5);

	--card: oklch(100% 0 0);
	--card-foreground: oklch(13.7% 0.036 258.5);

	--border: oklch(92.9% 0.013 255.5);
	--border-dark: oklch(51% 0 0);

	--primary: oklch(57.8% 0.228 260);
	--primary-foreground: oklch(98.4% 0.003 247.9);

	--secondary: oklch(96.8% 0.007 247.9);
	--secondary-foreground: oklch(20.8% 0.04 265.7);

	--accent: oklch(96.8% 0.007 247.9);
	--accent-foreground: oklch(20.8% 0.04 265.7);

	--grey: oklch(55.8% 0.017 244.9);
	--grey-foreground: oklch(98.4% 0.003 247.9);

	--destructive: oklch(57.7% 0.215 27.3);
	--destructive-foreground: oklch(98.4% 0.003 247.9);

	--warning: oklch(96.3% 0.05 91.8);
	--warning-dark: oklch(43.5% 0.088 86.9);
	--warning-foreground: oklch(91.3% 0.118 91.5);

	--input: oklch(92.9% 0.013 255.5);
	--link: oklch(57.8% 0.228 260);
	--ring: oklch(13.7% 0.036 258.5);

	--radius: 0.5rem;

	--mark-color: oklch(96.3% 0.05 91.8);

	--code-preview-foreground: oklch(70.6% 0.027 229.3);
	--code-preview-background: oklch(98.5% 0 0);
	--code-preview-token-constant: oklch(69.7% 0.178 36.3);
	--code-preview-token-string: oklch(0% 0 0);
	--code-preview-token-comment: oklch(82.4% 0.018 229.1);
	--code-preview-token-keyword: oklch(68.8% 0.101 201.7);
	--code-preview-token-parameter: oklch(70.6% 0.027 229.3);
	--code-preview-token-function: oklch(60.4% 0.091 260);
	--code-preview-token-string-expression: oklch(73.3% 0.131 127.8);
	--code-preview-token-punctuation: oklch(60.4% 0.091 260);
	--code-preview-token-link: oklch(0% 0 0);
	--code-preview-token-bracket: oklch(68.8% 0.101 201.7);
	--code-preview-token-punctuation-mark: oklch(68.8% 0.101 201.7);
	--code-preview-token-accent: oklch(56.7% 0.228 308.2);
}

.javascript {
	--code-preview-token-variable: oklch(70.6% 0.027 229.3);
	--code-preview-token-keyword-special: oklch(68.8% 0.101 201.7);
	--code-preview-token-bracket-special: oklch(60.8% 0.209 27);
	--code-preview-token-keyword: oklch(56.7% 0.228 308.2);
	--code-preview-token-string-key: oklch(60.8% 0.209 27);
}

.swift {
	--code-preview-token-constant: oklch(72.7% 0.151 69.7);
	--code-preview-token-variable: oklch(70.6% 0.027 229.3);
	--code-preview-token-keyword-special: oklch(68.8% 0.101 201.7);
	--code-preview-token-bracket-special: oklch(60.8% 0.209 27);
	--code-preview-token-keyword: oklch(69.7% 0.178 36.3);
	--code-preview-token-string-key: oklch(60.8% 0.209 27);
}

.dark {
	--background: oklch(13.7% 0.036 258.5);
	--foreground: oklch(98.4% 0.003 247.9);

	--muted: oklch(28% 0.037 260);
	--muted-foreground: oklch(71.1% 0.035 256.8);

	--popover: oklch(13.7% 0.036 258.5);
	--popover-foreground: oklch(98.4% 0.003 247.9);

	--card: oklch(13.7% 0.036 258.5);
	--card-foreground: oklch(98.4% 0.003 247.9);

	--border: oklch(28% 0.037 260);
	--border-dark: oklch(68.3% 0 0);

	--secondary: oklch(28% 0.037 260);
	--secondary-foreground: oklch(98.4% 0.003 247.9);

	--accent: oklch(28% 0.037 260);
	--accent-foreground: oklch(98.4% 0.003 247.9);

	--grey: oklch(28% 0.037 260);
	--grey-foreground: oklch(98.4% 0.003 247.9);

	--destructive: oklch(39.6% 0.133 25.7);
	--destructive-foreground: oklch(98.4% 0.003 247.9);

	--warning: oklch(27.8% 0.055 89.6);
	--warning-dark: oklch(89.8% 0.136 91);
	--warning-foreground: oklch(57.9% 0.117 85.9);

	--input: oklch(28% 0.037 260);
	--link: oklch(72.9% 0.14 258.1);
	--ring: oklch(86.9% 0.02 252.8);

	--mark-color: oklch(43.5% 0.088 86.9);

	--code-preview-foreground: oklch(98.8% 0.018 196.9);
	--code-preview-background: oklch(24.8% 0 0);
	--code-preview-token-constant: oklch(74.9% 0.138 37.5);
	--code-preview-token-string: oklch(0% 0 0);
	--code-preview-token-comment: oklch(62.7% 0 0);
	--code-preview-token-keyword: oklch(85.6% 0.094 225.9);
	--code-preview-token-parameter: oklch(70.6% 0.027 229.3);
	--code-preview-token-function: oklch(74.4% 0.131 264.3);
	--code-preview-token-string-expression: oklch(88.4% 0.124 126.8);
	--code-preview-token-punctuation: oklch(74.4% 0.131 264.3);
	--code-preview-token-link: oklch(0% 0 0);
	--code-preview-token-bracket: oklch(85.6% 0.094 225.9);
	--code-preview-token-punctuation-mark: oklch(85.6% 0.094 225.9);
	--code-preview-token-accent: oklch(74.3% 0.135 311.1);
}

.dark .javascript {
	--code-preview-token-keyword: oklch(74.3% 0.135 311.1);
	--code-preview-token-function: oklch(74.4% 0.131 264.3);
	--code-preview-token-variable: oklch(98.8% 0.018 196.9);
	--code-preview-token-string-key: oklch(70.1% 0.157 18.6);
	--code-preview-token-keyword-special: oklch(85.6% 0.094 225.9);
	--code-preview-token-bracket-special: oklch(60.8% 0.209 27);
}

.dark .swift {
	--code-preview-token-constant: oklch(86.9% 0.128 81.1);
	--code-preview-token-keyword: oklch(74.9% 0.138 37.5);
	--code-preview-token-variable: oklch(98.8% 0.018 196.9);
	--code-preview-token-keyword-special: oklch(85.6% 0.094 225.9);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-link: var(--link);
	--color-border: var(--border);
	--color-border-dark: var(--border-dark);
	--color-warning: var(--warning);
	--color-warning-dark: var(--warning-dark);
	--color-warning-foreground: var(--warning-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-mark-color: var(--mark-color);
}

@layer base {
	body {
		@apply bg-background text-foreground font-sans;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;

	@variant lg {
		padding-inline: 2rem;
	}

	@variant xl {
		padding-inline: 3rem;
	}

	@media screen and (max-width: 1024px) {
		@apply max-w-none;
	}
}

body {
	overflow-y: overlay;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	scroll-margin-top: 1.75rem;
	text-underline-offset: 6px;
	transition: 300ms;
}

h2.clickable,
.docs-content h2,
.docs-content h3 {
	cursor: pointer;
	position: relative;
}

h2.clickable:hover::after,
.docs-content h2:hover::after,
.docs-content h3:hover::after {
	content: '';
	position: absolute;
	margin-left: 6px;
	margin-top: 12px;
	width: 18px;
	height: 18px;
	background: url(/images/logos/link.svg);
	background-size: 18px 18px;
	transform: rotate(0.25turn);
}

.accordion-item h2:hover::after {
	content: unset;
}

.docs-content h3:hover::after {
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	margin-top: 10px;
}

h2.clickable:hover::after {
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
	margin-top: 22px;
}

.dark h2.clickable:hover::after,
.dark .docs-content h2:hover::after,
.dark .docs-content h3:hover::after {
	filter: invert(1);
}

@media screen and (max-width: 768px) {
	h2.clickable:hover::after,
	.docs-content h2:hover::after,
	.docs-content h3:hover::after {
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		margin-top: 12px;
		margin-left: 4px;
	}

	.docs-content h3:hover::after {
		width: 12px;
		height: 12px;
		background-size: 12px 12px;
		margin-top: 11px;
		margin-left: 3px;
	}

	h2.clickable:hover::after {
		margin-left: 5px;
		margin-top: 16px;
	}
}

p a,
tbody a {
	@apply text-link underline underline-offset-2 duration-200;
}

p a:hover,
tbody a:hover {
	@apply brightness-125 dark:brightness-75;
}

p:not(:last-child) {
	@apply mb-3;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	padding: 1rem 1.6rem;
	background: oklch(98.5% 0 0) !important;
	color: oklch(70.6% 0.027 229.3) !important;
}

.dark pre {
	background: oklch(24.8% 0 0) !important;
	color: oklch(98.8% 0.018 196.9) !important;
}

.dark .pregenerated-code .shiki,
.dark .pregenerated-code .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.code-numbered pre {
	padding-left: calc(var(--spacing) * 8);
}

.code-numbered code {
	counter-reset: step;
	counter-increment: step 0;
}

.code-numbered code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-left: -1rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: right;
	color: oklch(61.9% 0.03 226 / 0.5);
}

.curl pre span > span {
	transition: 200ms;
}

.curl:hover span > span {
	filter: brightness(80%);
}

.dark .curl:hover span > span {
	filter: brightness(122%);
}

.curl {
	/* text-indent: -2rem; */
	padding-left: 0;
}

.curl pre {
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent !important;
}

.curl pre code {
	text-wrap: wrap;
	display: -webkit-box;
	word-break: break-word;
	max-width: 630px;
	max-height: 96px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	background-color: transparent !important;
}

.curl .line::before {
	content: '$';
	width: 1rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: right;
	color: oklch(61.9% 0.03 226 / 0.5);
}

mark,
.mark {
	margin-top: -0.1875em;
	padding: 0.1875em;
	color: var(--foreground);
	background-color: var(--mark-color);
}

figcaption {
	@apply mt-1;
}

.grow-text::after {
	content: attr(data-text);
	content: attr(data-text) / '';
	height: 0;
	visibility: hidden;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	font-weight: bold;
}

.dark .hero-image {
	opacity: 0.6;
}

.darkmode-icon-moon {
	position: absolute;
	visibility: hidden;
}

.dark .darkmode-icon-moon {
	visibility: visible;
}

.dark .darkmode-icon-sun {
	visibility: hidden;
}

.highlight-row {
	transition: 50ms;
}

.highlight-row:hover {
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

.dark .highlight-row:hover {
	box-shadow: 0px 0px 5px 2px rgb(70, 70, 70, 1);
}

.highlight-row:hover .highlight-row-label {
	/* text-decoration: underline; */
}
