@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@config '../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--border-dark: 0 0% 40%;
		--input: 214.3 31.8% 91.4%;

		--primary: 215.75 98.36% 52.16%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--grey: 208.24 7.3% 45.69%;
		--grey-foreground: 210 40% 98%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;

		--warning: 45 100% 90.27%;
		--warning-dark: 45 94.66% 20.55%;
		--warning-foreground: 45 100% 75.55%;

		--link: 215.75 98.36% 52.16%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--mark-color: 45 100% 90.27%;

		--code-preview-foreground: #90a4ae;
		--code-preview-background: #fafafa;
		--code-preview-token-constant: #f76d47;
		--code-preview-token-string: #000;
		--code-preview-token-comment: #bac8cf;
		--code-preview-token-keyword: #39adb5;
		--code-preview-token-parameter: #90a4ae;
		--code-preview-token-function: #6182b8;
		--code-preview-token-string-expression: #91b859;
		--code-preview-token-punctuation: #6182b8;
		--code-preview-token-link: #000;
		--code-preview-token-bracket: #39adb5;
		--code-preview-token-punctuation-mark: #39adb5;
		--code-preview-token-accent: #9c3eda;
	}

	.javascript {
		--code-preview-token-variable: #90a4ae;
		--code-preview-token-keyword-special: #39adb5;
		--code-preview-token-bracket-special: #e53935;
		--code-preview-token-keyword: #9c3eda;
		--code-preview-token-string-key: #e53935;
	}

	.swift {
		--code-preview-token-constant: #e2931d;
		--code-preview-token-variable: #90a4ae;
		--code-preview-token-keyword-special: #39adb5;
		--code-preview-token-bracket-special: #e53935;
		--code-preview-token-keyword: #f76d47;
		--code-preview-token-string-key: #e53935;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--border-dark: 0 0% 60%;
		--input: 217.2 32.6% 17.5%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--grey: 217.2 32.6% 17.5%;
		--grey-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--warning: 45 94.66% 10.27%;
		--warning-dark: 45 100% 70.82%;
		--warning-foreground: 45 94.66% 30.82%;

		--link: 215.83 98.63% 71.37%;

		--ring: 212.7 26.8% 83.9%;

		--mark-color: 45 94.66% 20.55%;

		--code-preview-foreground: #eeffff;
		--code-preview-background: #212121;
		--code-preview-token-constant: #f78c6c;
		--code-preview-token-string: #000;
		--code-preview-token-comment: #888;
		--code-preview-token-keyword: #89ddff;
		--code-preview-token-parameter: #90a4ae;
		--code-preview-token-function: #82aaff;
		--code-preview-token-string-expression: #c3e88d;
		--code-preview-token-punctuation: #82aaff;
		--code-preview-token-link: #000;
		--code-preview-token-bracket: #89ddff;
		--code-preview-token-punctuation-mark: #89ddff;
		--code-preview-token-accent: #c792ea;
	}

	.dark .javascript {
		--code-preview-token-keyword: #c792ea;
		--code-preview-token-function: #82aaff;

		--code-preview-token-variable: #eeffff;
		--code-preview-token-string-key: #f07178;
		--code-preview-token-keyword-special: #89ddff;
		--code-preview-token-bracket-special: #e53935;
	}

	.dark .swift {
		--code-preview-token-constant: #ffcb6b;
		--code-preview-token-keyword: #f78c6c;

		--code-preview-token-variable: #eeffff;
		--code-preview-token-keyword-special: #89ddff;
	}
}

@theme {
	--drop-shadow-logo: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

@layer base {
	body {
		@apply bg-background text-foreground font-sans;
	}
}

body {
	overflow-y: overlay;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	scroll-margin-top: 1.75rem;
	text-underline-offset: 6px;
	transition: 300ms;
}

h2.clickable,
.docs-content h2,
.docs-content h3 {
	cursor: pointer;
	position: relative;
}

h2.clickable:hover::after,
.docs-content h2:hover::after,
.docs-content h3:hover::after {
	content: '';
	position: absolute;
	margin-left: 6px;
	margin-top: 12px;
	width: 18px;
	height: 18px;
	background: url(/images/logos/link.svg);
	background-size: 18px 18px;
	transform: rotate(0.25turn);
}

.accordion-item h2:hover::after {
	content: unset;
}

.docs-content h3:hover::after {
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	margin-top: 10px;
}

h2.clickable:hover::after {
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
	margin-top: 22px;
}

.dark h2.clickable:hover::after,
.dark .docs-content h2:hover::after,
.dark .docs-content h3:hover::after {
	filter: invert(1);
}

@media screen and (max-width: 768px) {
	h2.clickable:hover::after,
	.docs-content h2:hover::after,
	.docs-content h3:hover::after {
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		margin-top: 12px;
		margin-left: 4px;
	}

	.docs-content h3:hover::after {
		width: 12px;
		height: 12px;
		background-size: 12px 12px;
		margin-top: 11px;
		margin-left: 3px;
	}

	h2.clickable:hover::after {
		margin-left: 5px;
		margin-top: 16px;
	}
}

p a,
tbody a {
	@apply text-link underline underline-offset-2 duration-200;
}

p a:hover,
tbody a:hover {
	@apply brightness-125 dark:brightness-75;
}

p:not(:last-child) {
	@apply mb-3;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	padding: 1rem 1.6rem;
	background: #fafafa !important;
	color: #90a4ae !important;
}

.dark pre {
	background: #212121 !important;
	color: #eeffff !important;
}

.dark .pregenerated-code .shiki,
.dark .pregenerated-code .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.code-numbered pre {
	padding-left: calc(var(--spacing) * 8);
}

.code-numbered code {
	counter-reset: step;
	counter-increment: step 0;
}

.code-numbered code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-left: -1rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.5);
}

.curl pre span > span {
	transition: 200ms;
}

.curl:hover span > span {
	filter: brightness(80%);
}

.dark .curl:hover span > span {
	filter: brightness(122%);
}

.curl {
	/* text-indent: -2rem; */
	padding-left: 0;
}

.curl pre {
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent !important;
}

.curl pre code {
	text-wrap: wrap;
	display: -webkit-box;
	word-break: break-word;
	max-width: 630px;
	max-height: 96px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	background-color: transparent !important;
}

.curl .line::before {
	content: '$';
	width: 1rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.5);
}

mark,
.mark {
	margin-top: -0.1875em;

	padding: 0.1875em;
	color: hsl(var(--foreground));
	background-color: hsl(var(--mark-color));
}

figcaption {
	@apply mt-1;
}

.grow-text::after {
	content: attr(data-text);
	content: attr(data-text) / '';
	height: 0;
	visibility: hidden;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	font-weight: bold;
}

.dark .hero-image {
	opacity: 0.6;
}

.darkmode-icon-moon {
	position: absolute;
	visibility: hidden;
}

.dark .darkmode-icon-moon {
	visibility: visible;
}

.dark .darkmode-icon-sun {
	visibility: hidden;
}
