name: Cypress Tests

on:
  workflow_dispatch:

jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run preview
      - name: Upload screenshots & videos
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-files
          path: |
            cypress/videos
            cypress/screenshots
